.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
*.log
.git
.github
.gitignore
.pytest_cache
.python-version
.dockerignore
dockerfile
docker-compose.yml


*.md
tests/
benchmarks/
models/molecular_solubility.ipynb
models/curated-solubility-dataset.csv
